<p id="notice"><%= notice %></p>

<p id="title">
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p id="description">
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<p id="completed">
  <strong>Completed:</strong>
  <%= @todo.completed %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
